body {
    background-image: url(./images/orange-bg.png);
}

div {
    background-color: white;
    width: auto;  /* 부모 너비 기준 꽉참 */
    height: auto; /* 자식 높이 기준 자동 조절 */

    width: 400px;

    margin: 100px auto;
    padding: 40px;

    border: 10px solid orange;

    color: orange;

    border-radius: 60px 10px 30px 50px;
    border-top-left-radius: 20px;
}   

img {
    width: 100%;
}

h1 {
    text-align: center;
}

ul {
    color: black;
}