/* RESETS */
body {
    margin: unset;
    padding: unset;
}

h1 {
    margin-inline: unset;
    margin-block: unset;
}

/* TYPOGRAPHY */
:root {
    font-family: arial;
}

/* LAYOUTS */
main {
    background-color: #000;
    padding: 24px 0 24px 0;
    box-sizing: border-box;
}

.l_wrapper {                            /* l_wrapper는 레이아웃만을 담당한다. 클래스 지정하거나 해서 다른 역할 시키지 말기! */
    width: 1200px;
    margin: 0 auto;
}

/* DESIGN */
body {
    background-color: #111;
}

    /* header */
.header_contents {                      /* header_contents로 한번 더 감싸서 처리한 것  꼭 기억하기!! */
    display: flex;
    align-items: center;
}

.header_contents .logo {
    width: 200px;
    height: 44px;
}

.header_contents .intro {
    font-size: 16px;
    color: #999;
}

.intro::before {
    content: "";
    display: inline-block;
    width: 64px;
    height: 0px;
    border-top: solid 1px #999;
    margin: 0 20px 0 30px;
    vertical-align: middle;
}

.header_contents .anger {
    width: 140p;
    height: 140px;
    margin-left: auto;
}

    /* main */
.main .main_container {
    display: flex;
    min-height: 848px;
    gap: 20px;
}

.main .main_contents {
    background-color: #979797;
    width: 1008px;
    border-radius: 12px;
}

.main .main_sidebar {
    background-color: #979797;
    flex-basis: 168px;
    height: 340px;
    margin-left: auto;
    border-radius: 12px;
}

    /* footer */
.footer .footer_container {
    height: 77px;
    display: flex;
    align-items: center;
}

.footer_container .outro {
    width: 271px;
    height: 18px;
    font-size: 16px;
    color: #666;
    font-weight: normal;
}
